<h1>The Argonian Account</h1>
<p>
	In a minor but respectable plaza in the Imperial City sat, or perhaps
	lounged, Lord Vanech's Building Commission. It was an unimaginative,
	austere <sprite=0><sprite=1><sprite=2>
	building not noted so much for its aesthetic or architectural design as
	for
	its prodigious length. If any critics wondered why such an unornamented,
	extended erection held such fascination for Lord Vanech, they kept it to
	themselves.
</p>

<p>
	In the 398th year of the 3rd Era, Decumus Scotti was a senior clerk at the
	Commission.
</p>
<p>
	It had been a few months since the shy, middle-aged man had brought Lord
	Vanech the most lucrative of all contracts, granting the Commission the
	exclusive right to rebuild the roads of Valenwood which had been destroyed
	in the Five Year War. For this, he had become the darling of the managers
	and the clerks, spending his days recounting his adventures, more or less
	faithfully... although he did omit the ending of the tale, since many of
	them had partaken in the celebratory Unthrappa roast provided by the
	Silenstri. Informing one's listeners that they've gorged on human flesh
	improves very few stories of any good taste.
</p>
<p>
	Scotti was neither particularly ambitious nor hard-working, so he did not
	mind that Lord Vanech had not given him anything to actually do.
</p>
<p>
	Whenever the squat little gnomish man would happen upon Decumus Scotti in
	the offices, Lord Vanech would always say, "You're a credit to the
	Commission. Keep up the good work."
</p>
<p>
	In the beginning, Scotti had worried that he was supposed to be doing
	something, but as the months went on, he merely replied, "Thank you. I
	will."
</p>
<p>
	There was, on the other hand, the future to consider. He was not a young
	man, and though he was receiving a respectable salary for someone not doing
	actual work, Scotti considered that soon he might have to retire and not get
	paid for not doing work. It would be nice, he decided, if Lord Vanech, out
	of gratitude for the millions of gold the Valenwood contract was generating,
	might deign to make Scotti a partner. Or at least give him a small
	percentage of the bounty.
</p>
<p>
	Decumus Scotti was no good at asking for things like that, which was one of
	the reasons why, previous to his signal successes in Valenwood as a senior
	clerk for Lord Atrius, he was a lousy agent. He had just about made up his
	mind to say something to Lord Vanech, when his lordship unexpectedly pushed
	things along.
</p>
<p>
	"You're a credit to the Commission," the waddling little thing said, and
	then paused. "Do you have a moment free on your schedule?"
</p>
<p>
	Scotti nodded eagerly, and followed his lordship to his hideously decorated
	and very enviable hectare of office space.
</p>
<p>
	"Zenithar blesses us for your presence at the Commission," the little fellow
	squeaked grandly. "I don't know whether you know this, but we were having a
	bad time before you came along. We had impressive projects, for certain, but
	they were not successful. In Black Marsh, for example, for years we've been
	trying to improve the roads and other routes of travel for commerce. I put
	my best man, Flesus Tijjo, on it, but every year, despite staggering
	investments of time and money, the trade along those routes only gets slower
	and slower. Now, we have your very clean, very, very profitable Valenwood
	contract to boost the Commission's profits. I think it's time you were
	rewarded."
</p>
<p>
	Scotti grinned a grin of great modesty and subtle avarice.
</p>
<p>
	"I want you to take over the Black Marsh account from Flesus Tijjo."
</p>
<p>
	Scotti shook as if awaking from a pleasant dream to hideous reality, "My
	Lord, I - I couldn't -"
</p>
<p>
	"Nonsense," chirped Lord Vanech. "Don't worry about Tijjo. He will be happy
	to retire on the money I give him, particularly as soul-wrenchingly
	difficult as this Black Marsh business has been. Just your sort of a
	challenge, my dear Decumus."
</p>
<p>
	Scotti couldn't utter a sound, though his mouth feebly formed the word "No"
	as Lord Vanech brought out the box of documentation on Black Marsh.
</p>
<p>
	"You're a fast reader," Lord Vanech guessed. "You can read it all en route."
</p>
<p>
	"En route to ..."
</p>
<p>
	"Black Marsh, of course," the tiny fellow giggled. "You are a funny chap.
	Where else would you go to learn about the work that's being done, and how
	to improve it?"
</p>
<p>
	The next morning, the stack of documentation hardly touched, Decumus Scotti
	began the journey south-east to Black Marsh. Lord Vanech had hired an
	able-bodied guard, a rather taciturn Redguard named Mailic, to protect his
	best agent. They rode south along the Niben, and then south-east along the
	Silverfish, continuing on into the wilds of Cyrodiil, where the river
	tributaries had no names and the very vegetation seemed to come from another
	world than the nice, civilized gardens of the northern Imperial Province.
</p>
<p>
	Scotti's horse was tied to Mailic's, so the clerk was able to read. It made
	it difficult to pay attention to the path they were taking, but Scotti knew
	he needed at least a cursory familiarity with the Commission's business
	dealings in Black Marsh.
</p>
<p>
	It was a huge box of paperwork going back forty years, when the Commission
	had first been given several million in gold by a wealthy trader, Lord
	Xellicles Pinos-Revina, to improve the condition of the road from Gideon to
	Cyrodiil. At that time, it took three weeks, a preposterously long time, for
	the rice and root he was importing to arrive, half-rotten, in the Imperial
	Province. Pinos-Revina was long dead, but many other investors over the
	decades, including Pelagius Septim V himself, had hired the Commission to
	build roads, drain swamps, construct bridges, devise anti-smuggling systems,
	hire mercenaries, and, in short, do everything that the greatest Empire in
	history knew would work to aid trade with Black Marsh. According to the
	latest figures, the result of this was that it took two and a half months
	for goods, now thoroughly rotten, to arrive.
</p>
<p>
	Scotti found that when he looked up after concentrating on what he was
	reading, the landscape had always changed. Always dramatically. Always for
	the worse.
</p>
<p>
	"This is Blackwood, sir," said Mailic to Scotti's unspoken question. It was
	dark and woodsy, so Decumus Scotti thought that a very appropriate name.
</p>
<p>
	The question he longed to ask, which in due course he did ask, was, "What's
	that terrible smell?"
</p>
<p>
	"Slough Point, sir," Mailic replied as they turned the next bend, where the
	umbrageous tunnel of tangled tree and vine opened to a clearing. There
	squatted a cluster of formal buildings in the dreary Imperial design favored
	by Lord Vanech's Commission and every Emperor since Tiber, together with a
	stench so eye-blindingly, stomach-wrenchingly awful that Scotti wondered,
	suddenly, if it were deadly poisonous. The swarms of blood-colored,
	sand-grain-sized insects obscuring the air did not improve the view.
</p>